html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(195, 196, 196, 0.421);
}
header {
    background-color: #a7a5a5b3;
    padding: 20px 0;
    margin: 20px;
    height: 100px;
    border-radius: 10px;
    min-width: 250px;
}
.header{
    display: inline-block;
    width: 49.95%;
    position: relative;
}

header h1{
    display: inline-block;
    margin: 0 0px 0 80px;
}
#titulo{
    
    position: absolute;
    top: 32px;
    left: 15%;
    font-size: 40px;
    
    
}
header h1 img{
    width: 100px;
    height: 100px;
}
header a{
    position: absolute;
    top: 42px;
    left: 172%;
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}



main{
    padding: 1% 1%;
    display: flex;
}
.mapa{
    width: 40%;
    margin-left: 5%;
}


.mapa path{
    fill: #009688;
    stroke: rgb(34, 34, 34);
    stroke-width: 1px;
}
.mapa path:hover{
    fill:#005c53;
    cursor: pointer;
}




.form-container {
    width: 300px;
    margin: 10px 15%;
    font-family: Arial, sans-serif;
}

fieldset {
    border: 2px solid #009688;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}

legend {
    color: #009688;
    font-weight: bold;
}


/* Estilo para las opciones de radio */
.radio-option {
    display: block;
    margin-bottom: 10px; /* Espaciado entre opciones */
    background-color: #009688;
    padding: 4px 0;
    border-radius: 4px;
    box-shadow: 4px 4px 0px #00695c;
    transition: 0.4s;
}
.radio-option:hover{
    transform: translateX(2px);
    transition: 0.4s;
}

/* Estilo para las etiquetas de radio */
.radio-option label {
    color: white; /* Color de texto */
}


/* Estilo para los radio buttons */
.radio-option input[type="radio"] {
    vertical-align: middle; /* Alinear verticalmente con la etiqueta */
}

label {
    margin-left: 8px;
    font-size: 16px;
}

.hidden-list {
    display: none;
}

input[type="submit"] {
    background-color: #009688;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #007766;
}




select[name="municipio"] {
    background-color: #009688;
    color: white;
    font-size: 16px; /* Tamaño de fuente aumentado en 2px */
    padding: 8px; /* Espaciado interno */
    border: none;
    border-radius: 4px;
    width: 100%; /* Ancho del drop-down list al 100% del contenedor */
}


#municipio {
    background-color: #009688;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 10px;
}

select[name="candidato"] {
    background-color: #009688;
    color: white;
    font-size: 16px; /* Tamaño de fuente aumentado en 2px */
    padding: 8px; /* Espaciado interno */
    border: none;
    border-radius: 4px;
    width: 100%; /* Ancho del drop-down list al 100% del contenedor */
}

/* Estilo para el drop list de candidatos */
#candidato {
    background-color: #009688;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
}
